#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&lt { flavor = "hold-preferred"; };

&mt {
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;

            label = "td0";
        };

        mt_tap_t: mt_tap_t {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_TAP_T";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-on-release;
        };

        mt_hold_t: mt_hold_t {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_HOLD_T";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-on-release;
            hold-while-undecided;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESCAPE  &kp Q                    &kp W  &kp E                    &kp R        &kp T                                    &mmv MOVE_UP                     &kp Y         &kp U        &kp I        &kp O    &kp P                         &kp BSPC
&kp TAB     &kp A                    &kp S  &kp D                    &kp F        &kp G                    &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp H         &kp J        &kp K        &kp L    &kp SEMI                      &kp SQT
&none       &mt_hold_t LEFT_SHIFT Z  &kp X  &kp C                    &kp V        &kp B      &kp C_MUTE                    &mmv MOVE_DOWN                   &kp N         &kp M        &kp COMMA    &kp DOT  &mt_hold_t RIGHT_SHIFT SLASH  &kp RIGHT_SHIFT
                                            &mt_hold_t LCTRL ESCAPE  &lt 3 UNDER  &kp SPACE                                                                 &lt 2 RETURN  &lt 4 MINUS  &kp RS(F10)
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        CtrlAlt {
            bindings = <
&trans  &trans  &trans  &trans     &trans        &trans                          &trans          &trans         &trans         &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans        &trans                  &trans  &trans  &trans  &trans         &trans         &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans        &trans        &trans            &trans          &trans         &trans         &trans     &trans  &trans  &trans
                        &kp LCTRL  &kp LEFT_ALT  &kp LEFT_GUI                                    &kp RIGHT_GUI  &kp RIGHT_ALT  &kp RCTRL
            >;

            label = "CTRLALT";
        };

        Function {
            display-name = "Fn";
            bindings = <
&none       &kp F1   &kp F2   &kp F3  &kp F4  &kp F5                              &trans          &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp C_MUTE   &kp C_VOL_DN      &kp C_VOLUME_UP  &none
&bt BT_NXT  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10                     &trans  &trans  &trans  &rgb_ug RGB_BRD       &rgb_ug RGB_BRI       &kp C_PREV   &kp C_PLAY_PAUSE  &kp C_NEXT       &none
&bt BT_PRV  &kp F11  &kp F12  &trans  &trans  &trans   &rgb_ug RGB_EFF            &trans          &trans                &trans                &bootloader  &sys_reset        &none            &bt BT_CLR
                              &trans  &trans  &trans                                              &trans                &trans                &trans
            >;

            sensor-bindings = <&rgb_encoder>;
            label = "Function";
        };

        Sym {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp EXCL                   &kp AT     &kp HASH       &kp DLLR              &kp LEFT_PARENTHESIS                    &trans          &kp RIGHT_PARENTHESIS  &kp NUMBER_7  &kp N8        &kp N9        &kp GRAVE                            &kp BSPC
&trans  &kp PERCENT                &kp CARET  &kp AMPERSAND  &kp NON_US_BACKSLASH  &kp LEFT_BRACE                  &trans  &trans  &trans  &kp RIGHT_BRACE        &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp DOUBLE_QUOTES                    &trans
&trans  &mt_tap_t LEFT_SHIFT PLUS  &kp MINUS  &kp ASTERISK   &kp SLASH             &kp LEFT_BRACKET      &trans            &trans          &kp RIGHT_BRACKET      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &mt_hold_t RIGHT_SHIFT SINGLE_QUOTE  &trans
                                              &trans         &mo 2                 &trans                                                  &trans                 &kp N0        &kp PERIOD
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        Nav {
            display-name = "NAV";
            bindings = <
&rgb_ug RGB_ON   &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_EFF  &trans                             &trans          &trans    &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN  &trans   &kp DELETE
&rgb_ug RGB_OFF  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_EFR  &trans                     &trans  &trans  &trans  &kp HOME  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT      &kp END  &trans
&trans           &trans           &trans           &trans           &trans           &trans  &rgb_ug RGB_TOG            &trans          &trans    &trans          &trans          &trans         &trans   &trans
                                                   &trans           &mo 5            &trans                                             &trans    &trans          &trans
            >;

            sensor-bindings = <&rgb_encoder>;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans          &msc SCRL_UP    &trans           &trans                       &trans          &trans     &trans          &mmv MOVE_UP    &trans           &trans  &trans
&trans  &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &mkp MCLK            &trans  &trans  &trans  &mkp MCLK  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans          &mkp RCLK       &mkp LCLK        &mkp LCLK  &trans            &trans          &mkp LCLK  &mkp LCLK       &mkp RCLK       &trans           &trans  &trans
                                &trans          &trans           &trans                                       &trans     &trans          &trans
            >;

            label = "MOUSE";
        };
    };
};
